/* GLOBAL */

.flex {
  display: flex;
}

.white {
  color: #fff;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.black {
  color: #000;
}

.orange {
  color: #fe4736;
}

/* Navigation bar section */
.first-navbar {
  justify-content: space-between;
  background-color: #131313;
  padding: 5px 20px;
}

.first-navbar ul li {
  margin-right: 10px;
}

.second-nav-links-span span a:hover {
  color: #000;
}

.first-navbar li a,
.fa-caret-down,
.funding-links,
.footer-ul-links ul li a {
  color: #555;
}

.news {
  color: #fff !important;
}

.second-nav-links-span span {
  margin-right: 10px;
}

.second-nav-links {
  width: 80%;
  font-size: 14px;
  padding: 18px 12px 0;
}

.nav-li {
  right: 60px;
}

.search {
  float: right;
  right: 560px;
  bottom: 20px;
}

.second-nav-links-span span a,
.fa-search {
  color: #b3b3b3;
}

.fa-search {
  transform: scaleX(-1);
  left: 540px;
}

.latest-news a:hover,

.latest-news-content p a:hover,
.most-popular-image a:hover,
.list-items li a:hover,
.list-items span a:hover {
  color: #000;
}

.fa-search:hover {
  color: #6b6969;
}

/* SHOWCASE SECTION  */

.image-positioning,
.most-popular-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo-image {
  font: 33px;
  width: 10px;
  height: 100px;
  right: 100px;
  top: 20px;
  color: #fff;
}

.release-date {
  width: 35%;
}

.release-date p {
  float: right;
  margin: 15px 10px 0 0;
}

.showcase-section {
  grid-template-columns: 2fr 1fr;
}

.main-showcase {
  width: 99%;
  height: 500px;
  background: linear-gradient(337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(220, 20, 20, 0.6) 50%),
    url(./images/main-showcase-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-showcase img {
  width: 100%;
  opacity: 0.8;
}

.aside-showcase {
  grid-template-rows: 1fr 1fr;
}

.aside-showcase-img {
  height: 245px;
  width: 99%;
  background: linear-gradient(337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(220, 20, 20, 0.6) 50%),
    url(./images/third-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom {
  margin-bottom: 10px;
}

.main-showcase h1 {
  font-size: 56px;
}

.main-showcase-content {
  /* margin: 320px 0 0 10px; */
  /*flex-direction: column;*/
  align-items: space-between;
  justify-content: space-around;
}

.showcase-content {
  width: 90%;
  top: 190px;
  left: 10px;
}

.aside-showcase-content h1 {
  font-size: 28px;
}

.aside-showcase-content {
  padding-top: 150px;
}

/* LATEST NEWS SECTION */

.latest-news-section {
  margin: 50px;
}

.latest-news h1 a,
.latest-funding-title h4 a,
.hard-fork h2 a,
.latest-deals-section h4 {
  font-size: 28px;
  font-weight: bold;
}

.latest-news-section h1,
.latest-funding-title-links {
  padding: 20px 0;
}

.latest-news-grid-container,
.latest-funding-contents,
.latest-deals-container {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.latest-news-content img {
  width: 280px;
}

.latest-news-content h4 a:hover {
  color: #fe4736;
  text-decoration: underline;
}

.latest-news-content h4 {
  font-weight: bold;
}

.latest-news-content p a,
span,
.most-popular-image a,
span {
  color: #d0d0d0;
}

/* LATEST FUNDING ROUNDS */
.latest-deals-section {
  width: 96%;
  margin: 0 auto;
}

.latest-funding-rounds {
  width: 95%;
  margin: 0 auto;
}

.latest-funding-title-links {
  justify-content: space-between;
}

.latest-funding-links ul li,
.second-nav-bar ul li,
.first-navbar ul li {
  list-style-type: none;
}

.funding-grid {
  width: 96%;
  margin: 0 auto;
}

.funding-grid img {
  width: 50px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

.funding-grid hr {
  background-color: #ffc2bd;
}

.weezy {
  background-color: #fe4736;
  padding: 10px 0;
  text-align: center;
}

.seed-funds {
  background-color: #ffe8e5;
  padding: 11px 0;
  text-align: center;
}

.seed-funds-div2,
.seed-fund-details {
  font-size: 13px;
}

.seed-funds-div2,
.seed-fund-details {
  height: 50px;
  background-color: #fffaf8;
}

.seed-funds-div2 p {
  padding: 10px 0 0 0;
}

/* MOST POPULAR SECTION */

.most-popular-section {
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

.hard-fork {
  margin-top: 50px;
}

.most-popular-section h2 img,
.latest-funding-title h4 img,
.latest-news h1 img,
.greater-than {
  width: 20px;
}

.most-popular-image {
  background: linear-gradient(337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(220, 20, 20, 0.6) 50%),
    url(./images/most-popular-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 94%;
  margin-top: 20px;
}

.most-popular-contents {
  padding: 110px 0;
}

.most-popular-image h3 {
  font-size: 20px;
  font-weight: bold;
}

.list-items span a {
  color: #8d8d8d;
  line-height: 2em;
}

.latest-section {
  width: 94%;
}

.latest-section-contents img {
  width: 100px;
}

.latest-section-contents {
  height: 100px;
}

.contents {
  padding: 15px 0 20px 10px;
  background-color: #fff2f1;
}

.contents h3 a {
  font-weight: bold;
}

.contents h3 a:hover {
  text-decoration: underline;
}

.latest-heading {
  padding: 0 0 5px 0;
}

/* .list-items
{
  width: 94%;
}

.list-items h4 {
  margin-left: 20px;
}

.list-items h4 a {
  color: #6f6f6f;
}

.list-items hr {
  opacity: 0.2;
} */
.list-items li {}

/* .list-items {
  list-style-type: bullets;
 
} */

/* .list-items a {
  padding:15px 0;
} */
span {
  list-style-type: bullets;

}

.list-items a {
  border-bottom: #6b6969 1px solid;
  list-style-type: bullets;

  /* padding:15px 0; */
}

/* .list-items span {
  list-style-type: bullets;
} */

.list-items a::before {
  content: "•";
  color: #fe4736;
}

/* Latest Deals */

.latest-deals-section {
  margin-bottom: 70px;
}

.latest-deals-section h4 {
  margin-left: 60px;
}

.latest-deals-container {
  width: 96%;
  margin: 10px auto;
}

.latest-deals-img {
  width: 94%;
}

.latest-deals-content {
  width: 96%;
  margin: 0 auto;
}

.latest-deals-content h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* FOOTER */

.section-one {
  background-color: #131313;
  flex-direction: column;
}

.social-icons-div {
  height: 100px;
  padding-top: 50px;
}

.social-sites-icons {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.social-sites-icons i:hover {
  background-color: #000;
}

.social-sites-icons i {
  font-size: 20px;
  box-sizing: border-box;
  background-color: #333;
  padding: 12px;
  border-radius: 30px;
}

.footer-ul-div {
  bottom: 30px;
}

.footer-ul-div ul li {
  margin: 10px;
  list-style: none;
}

.footer-ul-links {
  width: 25%;
  margin: 0 auto;
}

.footer-ul-links ul li {
  font-weight: bold;
}

.footer-ul-links ul li a:hover {
  color: #fff;
}

.about-page {
  padding: 25px 0;
  background-color: #000;
}

.about-page-content {
  width: 45%;
  margin: 0 auto;
}

.footer-img {
  width: 35px;
}

.stackpath-img {
  width: 70px;
}

/* ====  MEDIA QUERIES === */

/* ===mobile version === */
@media only screen and (max-width: 320px) {
  .first-navbar {
    display: none;
  }

  .showcase-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-showcase,
  .aside-showcase {
    width: 96%;
    height: 200px;
    margin: 0 auto;
    background: linear-gradient(337deg,
        rgba(0, 0, 0, 0.9) 30%,
        rgba(220, 20, 20, 0.6) 50%),
      url(./images/main-showcase-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-div {
    display: none;
  }

  .showcase-content p,
  ..showcase-content h1 {
    background-color: blue;
    margin-bottom: 20px;

  }

  .showcase-content h1 {
    font-size: 20px;
  }








}