/* GLOBAL */
.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

ul {
  list-style: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.orange {
  color: #ff4422;
}

.white {
  color: #fff;
}

.gradient {
  background: linear-gradient(337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(220, 20, 20, 0.6) 50%),
    url(./images/most-popular-image.jpg);
}

/* NAVIGATION */

.nav-bar {
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.fa-search {
  transform: scaleX(-1);
  color: #555;
}

.fa-bars {
  margin-left: 10px;
  color: #ff4422;
}

.width-1023 {
  display: none;
}

.lens-menu {
  display: block;
}

/* SHOWCASE */
.showcase-section {
  margin-top: 10px;
  grid-template-rows: 1fr;
  gap: 0.4em;
}

.main-showcase,
.aside-showcase {
  background-image: url(./images/main-showcase-image.jpeg);
  height: 130px;
  color: #fff;
}

.aside-showcase,
.main-showcase,
.hardfork-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(220, 20, 20, 0.6) 50%),
    url(./images/most-popular-image.jpg);
}

.mobile-showcase-content h1 {
  font-size: 20px;
}

.mobile-showcase-content p {
  font-size: 14px;
}

/* LATEST NEWS SECTION */
h1 {
  font-size: 28px;
}

.greater-than {
  width: 20px;
}

.latest-news-img {
  width: 80px;
  height: 100%;
}

.latest-news-div {
  margin-bottom: 20px;
}

.latest-news-content {
  padding-left: 5px;
}

.latest-news-content h1 {
  font-size: 14px;
}

.latest-news-content p {
  font-size: 12px;
}


/* LATEST FUNDING ROUNDS */
.latest-funding-rounds-heading {
  flex-direction: column;
}

.weezy {
  background-color: #fe4736;
  padding: 10px 0;
  text-align: center;
}

.latest-funding-title-links {
  width: 99%;
}

.seed-funds {
  background-color: #ffe8e5;
  padding: 11px 0;
  text-align: center;
}

.seed-funds-div2,
.seed-fund-details {
  font-size: 13px;
}

.seed-funds-div2 p {
  padding: 10px 0 0 0;
}

.funding-grid img {
  width: 50px;
  position: absolute;
  top: 40px;
  margin-left: 10px;
}

.latest-funding-links>div {
  flex-direction: column;
}

.latest-funding-links>div span {
  padding: 5px 0;
}

/* MOST POPULAR SECTION */
.most-popular-image {
  height: 200px;
  width: 94%;
  margin-top: 20px;
}

.hardfork-img {
  background-image: url(./images/third-image.jpg);
  height: 200px;
}

/* FOOTER */
.footer {
  width: 320px;
  height: 250px;
  text-align: center;
}

.footer-links {
  background-color: #131313;
  padding: 2.5em 0;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
  height: 100%;
}

.footer-links-social
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  margin-bottom: 15px;
  /* background-color: red; */
  justify-content: center;
  vertical-align: baseline;
}

.footer-links-social li a {
  box-sizing: border-box;
  background-color: #333;
  margin: auto 5px;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;

}

.footer-links-menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  justify-content: center;

}

.footer-links-menu li a {
  margin: 5px;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  align-content: center;
  flex-wrap: nowrap;
}

.footer-legal {
  width: 100%;
  height: 100px;
  padding: 50px 0;
  background-color: #000;
  display: block;
}

span img {
  width: 37px;
  height: 9px;
}






/*MEDIA QUERIES*/
@media only screen and (min-width:1024px) {

  /* NAVIGATION */
  .logo-div,
  .fa-bars {
    display: none;
  }

  .width-1023 {
    display: block;
  }

  .first-navbar {
    justify-content: space-between;
    background-color: #131313;
    padding: 5px 20px;
    width: 100%;
  }

  .first-navbar ul li {
    margin-right: 10px;
  }

  .first-navbar span a {
    color: #ffffff99;
  }

  .news {
    color: #fff !important;
  }


  /* SHOWCASE */
  .showcase-section {
    grid-template-columns: 70% 30%;
  }

  .main-showcase {
    height: 500px;
  }

  .aside-showcase {
    /*height: 235px;
    bottom: 20px;*/
  }

  .aside-showcase-1 {
    /*top: 0.5px;*/
  }

  /* latest-news-grid */
  .latest-news-grid,
  .latest-funding-contents,
  .most-popular-section {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }

  .latest-news-div {
    flex-direction: column;
  }

  .latest-news-img {
    width: 100%;
  }

  .latest-news-content h1 {
    font-size: 16px;
  }

  .latest-news-content p {
    font-size: 13px;
  }
}

@media only screen and (max-width:320px) {

  /* MOST POPULAR */
  .latest-section {
    display: none;
  }

  .hardfork-img {
    height: 100px;
  }

  /* FOOTER */
  .first-footer {
    width: 100%;
  }

}