/* ====  MEDIA QUERIES === */

/* ===mobile version === */
@media only screen and (max-width: 1023px) {

  /* NAVIGATION */
  .navigation-section {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .width-1023 {
    display: block;
  }

  .tnw-red-svg {
    height: 100%;
    width: 70px;
    margin: 0 auto;
    color: #fff;
  }

  .tnw-red-svg-div {
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    text-align: center;
  }

  /* LATEST NEWS */
  .latest-news-grid-container,
  .latest-funding-contents,
  .latest-deals-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-news-content h4 {
    font-size: 14px;
  }

  .latest-news-content p {
    font-size: 12px;
  }

  /* LATEST FUNDING ROUNDS */
  .latest-funding-title-links {
    flex-direction: column;
  }

  .latest-funding-title h4 {
    padding-bottom: 10px;
  }

  .logo-div,
  .fund-grid-hidden {
    display: none;
  }

  /* MOST POPULAR */

  .most-popular-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-items {
    display: flex;
    flex-direction: column;
  }

  .list-items span a {
    border-bottom: 1px solid #d4d3d3;

  }

  .most-popular-section {
    width: 97%;
    margin: 30px auto 0 auto;
  }

  .hard-fork {
    width: 98%;
    margin: 0 auto;
  }

  .hard-fork-content {
    width: 100%;
  }

  /* LATEST DEALS */
  .latest-deals-section {
    margin-top: 30px;
  }

  .latest-deals-container {
    width: 98%;
    margin: 10px auto;
  }

  .latest-deals-img,
  .latest-deals-content {
    width: 100%;
  }

  /* FOOTER */
  .footer-ul-links {
    font-size: 13px;
  }

  .about-page-content {
    width: 90%;
    display: flex;
    justify-content: center;
  }

}

@media only screen and (max-width: 768px) {

  /* showcase-content */
  .main-showcase {
    height: 250px;
    font-weight: bold;
  }

  .showcase-content h1 {
    font-size: 40px;
  }

  .showcase-content p {
    font-size: 12px;
  }

  /* aside-showcase */
  .aside-showcase-img {
    height: 120px;
  }

  .aside-showcase-content h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .aside-showcase-content p {
    font-size: 12px;
  }

  /* Latest section */
  .latest-funding-links span {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .latest-funding-links span a {
    border: none;
  }

  /* Footer section */

  .social-sites-icons {
    width: 50%;
    font-size: 14px;
  }

  /* About-page */
  .about-page-content p {
    font-size: 13px;
  }
}


@media only screen and (max-width: 767px) {

  /* NAVIGATION */
  .navigation-section {
    grid-template-columns: 20% 80%;
  }

  .first-navbar,
  .nav-span {
    display: none;
  }


  .second-nav-links-span {
    justify-content: space-between;
  }

  .second-nav-bar {
    padding: 10px 0;
  }

  .fa-search {
    /* left: 500px; */
    /* top: 5px; */
    font-size: 20px;
    display: block;
  }

  .fa-bars {
    /* left: 540px; */
    font-size: 25px;
    display: block;
  }

  /* SHOWCASE */
  .width-767 {
    display: block;
  }

  .main-showcase {
    display: none;
  }

  .showcase-section {
    grid-template-columns: 1fr;
  }

  .aside-showcase {
    width: 97%;
    margin: 0 auto;
  }


  /* LATEST NEWS */
  .latest-news-article,
  .latest-news-grid-container,
  .latest-deals-container {
    display: flex;
    flex-direction: column;
  }

  .latest-deals,
  .latest-news-content {
    display: flex;
  }

  .latest-deals img,
  .latest-news-content img {
    width: 100px;
  }

  .latest-news-article {
    padding-left: 5px;
  }

  .latest-deals-content h6,
  .latest-news-article,
  h4 {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .latest-news-article p {
    font-size: 13px;
  }

  /* LATEST FUNDING ROUNDS */
  .latest-funding-title-links {
    width: 96%;
    margin: 0 auto;
  }

  .latest-funding-links>div span {
    display: flex;
    padding: 5px 0;
  }

  .most-popular-section,
  .latest-funding-contents {
    display: flex;
    flex-direction: column;
  }

  /* MOST-POPULAR */
  .hard-fork {
    margin-top: 15px;
    width: 96%;
    margin: 0 auto;
  }

  .most-popular-image {
    width: 100%;
    height: 600px;
    bottom: 0;
  }

  .most-popular-contents {
    height: 5px;
    position: relative;
    top: 370px;
  }

  .latest-section {
    width: 100%;
  }

  .latest-section-contents {
    background-color: #fff2f1;
    width: 100%;
    justify-content: space-between;
  }

  .latest-section-contents img {
    display: block;
  }

  /* LATEST DEALS */
  .latest-deals-content {
    padding-left: 10px;
  }

  /* FOOTER */
  .social-sites-icons a {
    margin-right: 5px;
  }

  .footer-ul-links ul li {
    font-size: 13px;
  }

  .about-page-content {
    text-align: center;
  }

}